.header { background: rgba(229, 84, 115, 0.10);
 

 }

  .banner {   
display: flex; 
align-items: center;
justify-content: space-between;
 


padding-left: 120px;
padding-top: 50px;}



  /*button design**/ 
  .btn-primary { border-radius: 8px;
    background: #E55473;
     padding: 15px 20px;
     color: #FFF ;




   
    gap: 10px;  } 

    .banner-content { max-width: 50%; 
     }
    .banner-pic { padding: 50px 100px 0 0 
        ;
        height: 100%;
    }

    /** banner-pic**/ 
    .banner-pic { width: 400px;
        height:500px;
    padding-right: 20px;
object-position: bottom; }

        /**banner title **/ 
        .banner-title { color: #272727;
           
            font-size: 40px;
            
            font-weight: 700;
             
            }

            .banner-des { color: rgba 39, 39, 39, 0.60;
                
                font-size: 18px;
               
                font-weight: 400;
                
           }
        .featured-section { 
            text-align: center;
            padding: 170px, 700px, 0px, 700px ;
            ;
           
            font-weight: 800;
            }
            .featured-title { color: #272727;
                
                padding-top: 100px ;
                padding-left: 30px ;
                padding-right: 30px;
                
                margin-bottom: 24px;
              
                font-weight: 800;
               }
               .featured-des { color: rgba(39, 39, 39, 0.60);
                
               padding-left: 60px;
                padding-right: 100px;
                font-weight: 400;}

















 /** paragraph added in instagram **/ 

  #paragraph { padding-bottom: 40px; }






 /** flower decoration section**/


   .flower-decoration {  border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    
 }
 .flower-greeting-section { display: flex
     ;
    text-align: center;
    align-items: center
    ;

}

  
     .flower-pic {  width: 350px;
        height:450px;
    padding-bottom: 60px; 
 }
  

.flower-pic { padding-left: 60px;}
.flower-banner { padding-left: 60px;}
.flower-deco-des { padding: 0,  60px ;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    
    font-size: 18px;

    font-weight: 400;}
    .flower-deco-title { color: #272727;
        
        font-size: 23px;
        
        font-weight: 800;}

    .all-flower{display:flex ;
    gap: 15px ;
padding-left: 45px; }

    
 

/** moving banner**/

.moving-banner { padding: 70px ; }
.m{ padding-left: 70 px;}

    
  







.background-image-flower { background-image: url("Rectangle\ 9.png");



background-repeat: no-repeat;
width: 1440px;
height: 449px;
margin-top: 60px ;
margin-left: 200px;
margin-right: 200px;
margin-bottom: 100px ;
padding-right: 200px; 
}








                /** footer section **/

.footer { 
    background: #111010;
        text-align: center 
       
        
}
.footer-title { 
    margin-bottom: 20px;}

                .text-primary {color: #E55473; 
                    
                 
                    font-size: 48px;
                    
                    font-weight: 800;
                    } 
                    .text-secondary { color: #FFF;
                        font-size: 48px;
                    
                        font-weight: 800; }
                        .footer-banner { padding: 120px 600px; }
                     

                        .footer-des { color: rgba(255, 255, 255, 0.90);
                            text-align: center;
                            
                            font-size: 18px;
                            margin-bottom: 32px;
                            font-weight: 400;}
                             .more-footer { color: rgba(255, 255, 255, 0.40);
                                text-align: center;
                              
                                font-size: 16px;
                             
                                font-weight: 400; }
